asgiref            
attrs              
Automat            
Babel              
bcrypt             
black              
blinker            
certifi            
chardet            
click              
cloud-init         
colorama           
command-not-found  
configobj          
constantly         
coreapi            
coreschema         
cryptography       
dbus-python        
distro             
distro-info        
Django             
django-filter      
django-guardian    
djangorestframework
flake8             
httplib2           
hyperlink          
idna               
incremental        
itypes             
Jinja2             
jsonpatch          
jsonpointer        
jsonschema         
launchpadlib       
lazr.restfulclient 
lazr.uri           
Markdown           
markdown-it-py     
MarkupSafe         
mccabe             
mdurl              
mypy-extensions    
netifaces          
oauthlib           
packaging          
pathspec           
pip                
platformdirs       
psycopg2           
pyasn1             
pyasn1-modules     
pycodestyle        
pycurl             
pyflakes           
Pygments           
PyGObject          
PyHamcrest         
PyJWT              
pyOpenSSL          
pyparsing          
pyrsistent         
pyserial           
python-apt         
pytz               
PyYAML             
requests           
rich               
service-identity   
setuptools         
six                
sqlparse           
systemd-python     
Twisted            
typing_extensions  
ubuntu-pro-client  
unattended-upgrades
uritemplate        
urllib3            
wadllib            
wheel              
zope.interface     
